<section id="header" class="d-flex text-white justify-content-center align-items-center text-center">
    <div class="brand" style="flex:2">
        <h3>Express Admin</h3>
    </div>
    <ul class="d-flex justify-content-around" style="flex:2; list-style:none; margin: 0px;">
        <li><a href="#" style="color:white; text-decoration: none;">Visit site</a></li>
        <li><a href="#" style="color:white; text-decoration: none;">Login</a></li>

    </ul>
</section>